@import 'core/header';
@import 'core/mainsection';

* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 30px;
  font-family: 'Solway', serif;
  background-image: linear-gradient(to bottom right, rgb(202, 221, 210), rgb(9, 104, 59));
}
