<main class="page__main">
  <h1>Buscador de series</h1>
  <form>
    <label for="title">
      <input class="js-userInput" type="text" name="showTitle" id="title">
    </label>
    <button class="js-button">Search</button>
  </form>
  <section>
    <ul class="js-showList">
      <!--
            <li>
              <img src="AQUI VA EL CARTEL" alt="">
              <h2>AQUI VA EL TITULO</h2>
            </li>
          -->
    </ul>
  </section>

  <aside>
    <h2>Mis series favoritas</h2>
    <ul class="js-showListFavorties">
      <!--
            <li>
              <img src="AQUI VA EL CARTEL" alt="">
              <h3>AQUI VA EL TITULO</h3>
            </li>
          -->
    </ul>
  </aside>

</main>