<main class="page__main">
  <div class="container__main">
    <form class="form__main">
      <label for="title">
        <input class="main__input js-userInput" type="text" name="showTitle" id="title"
          placeholder="Introduce una serie...">
      </label>
      <button class="main__button js-button">Search</button>
    </form>
    <aside>
      <h2 class="aside__title">Mis series favoritas</h2>
      <ul class="js-showListFavorties"></ul>
    </aside>
  </div>

  <section>
    <ul class="section__list js-showList"></ul>
  </section>


</main>