.page__main {
  display: flex;
}

.container__main {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  align-items: center;
}

.form__main {
  padding: 20px 0;
}

.main__input {
  border-bottom: 2px;
  padding: 10px;
}

.main__button,
.button--delete {
  background-color: rgb(99, 7, 7);
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
}

.section__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 40%;
  list-style: none;
  justify-content: center;
  margin-left: 5px;
}

.li__card {
  background-color: #fabada;
  padding: 10px;
  margin: 5px;
}

.showList--favorite {
  background-color: tomato;
  color: #ffffff;
}

.showListFavorties {
  list-style: none;
}

.item__favorite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.img__favorite {
  width: 80px;
  margin: 10px;
}

.delete--icon {
  margin-left: 10px;
}
